language: java

jdk:
  - oraclejdk8

os: linux

sudo: false

addons:
  apt:
    packages:
      - oracle-java8-installer

# todo configure installing jpm

before_install:
  - gradle wrapper --gradle-version 2.13
  - gradle assemble

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

script:
  - gradle check
  - gradle test

after_success:
  - bash <(curl -s https://codecov.io/bash)
